atom-text-editor.editor {
  // Everything in the editor's shadow DOM goes here.

  .gutter {
    background: none transparent;
  }

  .syntax--string.syntax--punctuation.syntax--definition {
    // Override some syntax themes that color quotation marks
    // around the strings differently
    color: inherit;
  }

  .syntax--comment, .syntax--docstring {
    font-style: italic;
    font-family: "Operator Mono", "Fira Mono";

    // Operator Mono is a bit higher than Fira, but Atom already manages
    // line heights so we can set it to an arbitrarily small value in CSS
    // so it doesn't break
    line-height: .1em;

    .syntax--punctuation {
      font-style: normal;
      font-family: "Fira Mono";
    }
  }
}

.terminal-view .standard {
  background-color: #21252b;
}

.tokamak-terminal.status-bar .icon-plus,
.tokamak-terminal.status-bar .icon-x {
  display: none;
}
